#Database
#Postgres
POSTGRES_USER=test
POSTGRES_PASSWORD=password
POSTGRES_DB=gophermarket
POSTGRES_PORT=5432
DATABASE_URI=postgres://name:password@localhost:5432/service?sslmode=disable

#App
RUN_ADDRESS=localhost:8080

#Accrual
ACCRUAL_SYSTEM_ADDRESS=

#JWT
ACCESS_SECRET_KEY=a3d44bb6b600b731bed2db90768601

#HttpServer
SERVER_READ_HEADER_TIMEOUT=5
SERVER_WRITE_TIMEOUT=5
SERVER_READ_TIMEOUT=5
SERVER_SHUTDOWN_TIMEOUT=5

#HttpRouter
ROUTER_SHUTDOWN=5
ROUTER_TIMEOUT=5